@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rationale&display=swap');


header {
  width: 100%;
}

p {
  margin: 0;
}

/* NAVBAR */

.titulo {
  font-size: 1.8rem;
  font-family: 'Rationale';
  margin: 0;
}

.bg-body-tertiary {
  background-color: rgb(65, 26, 26) !important;
  margin-bottom: 10px;
}

.me-auto>* {
  font-family: 'Rationale';
  font-size: 1.2em;
  padding-left: 15px !important;
}

.p-quotas {
  color: black;
  font-weight: 700;
  width: 100%;
  background-color: white;
  text-align: center;
  margin-bottom: 5px;
}

.menu {
  position: relative;
  left: 0px;
}


.link_cart {
  display: flex;
  text-decoration: none;
  padding-left: 10px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  background-color: rgb(252, 238, 222);
  color: black;
  width: 20px;
  height: 30%;
  border-radius: 50%;
}

/* ITEMLIST */

.slider-container {
  width: 90%;
  height: 500px;
  margin: 20px auto;
  z-index: 5;
}

.slick-prev::before, .slick-next::before  {
  z-index: 1;
  color: #d67b47;
}

.img-slider {
  width: 100%;
  height: 400px;
}

.div-products-cart{
  height: 450px;
}

.div-col {
  margin-block: 10px;
  padding-inline: 20px;
}

.card {
  margin: auto;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 5px rgb(140, 140, 140);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 2px 5px 2px grey; */
}


.button-detail,
.btn-addToCart {
  margin-top: 8px;
  background-color: #d67b47;
  border: none;
}

.button-detail:hover,
.btn-addToCart:hover {
  background-color: #f07c3e;
}


/* ITEMDETAIL */

.div-detail {
  /* padding: 10px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 15px; */
}

.detail-prices {
  width: 40%;
  padding: 10px;
  margin-inline: 12px;
  border: 1.5px solid rgb(201, 194, 194);
  border-radius: 8px;
}

.title-quotas {
  margin-block: 10px;
  border-top: 1px solid rgb(201, 194, 194);
}

.quotas {
  color: rgb(68, 156, 51);
  margin-top: 7px;
}

.p-sending {
  display: inline;
  margin: 5px;
}

.btn-addToCart {
  margin: 15px auto;
}

.div-count {
  height: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn__count {
  border-radius: 50%;
  width: 25px;
  background-color: rgb(225, 225, 217);
  border: none;
  padding-bottom: 1px;
}

/* CART */

.btn_trash {
  background-color: transparent;
  border: none;
  margin-left: 3px;
}

.btn-delete-cart {
  background-color: transparent;
  border: none;
  color: black;
  font-family: 'Rationale';

}

.confirmButton_delete {
  background-color: rgb(220, 30, 30);
}

.individualPrice {
  font-weight: 600;
}

.footer {
  position: relative;
  height: 50px;
  margin-top: 15px;
  padding-top: 10px;
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
}